<app-header (onSidebarToggle)="onSidebarToggle($event)"></app-header>
<div class="content" [class.blurred]="blurActive">
    <div class="warranty">
        <h2>Гарантия</h2>
        <div class="descriptions">
            <p>На всю продукцию торговой марки MANTOR установлена повышенная гарантия 6 месяцев с даты продажи.<br><br></p>
            <p>В случае наступления гарантийного случая, клиент праве ообратиться в любой сервисный центр, указанный в разделе «ПАРТНЁРЫ», или непосредственно к самому продавцу с целью установления причины выхода из строя запасной части<br><br></p>
            <p>С правилами гарантии и предоставления необходимых документов вы можете ознакомиться в ГАРАНТИЙНОМ ТАЛОНЕ (прилагается к каждому изделию) или на сайте ниже.</p>
        </div>
    </div>
    <app-footer></app-footer>
</div>